{% extends "base.html" %}

{% block title_head %}
<title>Motos</title>
{% endblock title_head %}

{% block h1_header %}
Motos
{% endblock h1_header %}


{% block main %}
<p>
    <a href={% url 'crear_motos' %}> Crear Motos </a>
</p>

{% if listado_de_motos %}
<ul>
    {% for Moto in listado_de_motos %}

    <li>{{Moto}} | <a href={% url "actualizar_moto" Moto.id %}>Actualizar</a>|<a href="detalle_moto">{{Moto}}</a>| <a href={% url "eliminar_moto" Moto.id %}>Eliminar</a> | 
       
    </li>

    {% endfor %}
</ul>
{% else %}
<p>No se encontraron Motos. </p>
{% endif %}
{% endblock main %}