{% extends "base.html" %}

{% block title_head %}
<title> Perfil</title>
{% endblock title_head %}

{% block h1_header %}
Perfil
{% endblock h1_header %}


{% block main %}
<p>
    <a href={% url 'editar_perfil' %}>Editar Perfil</a>
</p>
<form action={% url "perfil" %} method='POST' enctype='multipart/form-data'>
    {% csrf_token %}  
</form>

<p>Nombre: {{user.first_name}} <p>
<p>Apellido: {{user.last_name}} </p>
</p>Email: {{user.email}} </p>
</p>Biografia: {{ user.datosextra.biografia }}</p>
<p>Año: {{user.datosextra.anio | safe}}</p>

{% endblock main %}

